.layout {
  width: 100%;
}

.layout-content {
  background: #fff;
  height: calc(100vh - 134px)
}

@media (max-width: 687px)
{
   .layout-footer {
     display: none;
   }
}

.layout-flex {
  min-height: calc(100vh - 134px);
  display: flex;
  justify-content: center;
  align-items: center;
}

label.ant-radio-wrapper {
  display: block;
}
